:root {
  /* Базовые Цвета */
  --color-primary--light:   rgb(224, 0, 0);     // #e00000
  --color-primary:          rgb(204, 0, 0);     // #cc0000
  --color-primary--dark:    rgb(128, 0, 0);     // #800000


  --color-green--light:     rgb(110, 189, 76);  // #6EBD4C
  --color-green:            rgb(64, 143, 29);   // #408F1D
  --color-green--dark:      rgb(28, 89, 1);     // #1C5901

  --color-pale-blue--light: rgb(232, 237, 243); // #E8EDF3
  --color-pale-blue:        rgb(206, 220, 238); // #CEDCEE

  --color-blue--light:      rgb(91, 140, 230);  // #5B8CE6
  --color-blue:             rgb(78, 120, 224);  // #4E78E0
  --color-blue--dark:       rgb(39, 99, 211);   // #2763D3

  --color-orange--light:    rgb(249, 178, 0);   // #F9B200
  --color-orange:           rgb(252, 127, 9);   // #FC7F09
  --color-orange--dark:     rgb(221, 139, 1);   // #DD8B01

  --color-white:            rgb(255, 255, 255); // #ffffff
  --color-gray--lighter:    rgb(247, 247, 248); // #f7f7f8
  --color-gray--lighten:    rgb(238, 238, 239); // #eeeeef
  --color-gray--light:      rgb(196, 196, 196); // #c4c4c4
  --color-gray:             rgb(166, 166, 166); // #a6a6a6
  --color-gray--dark:       rgb(117, 117, 117); // #757575
  --color-gray--darken:     rgb(43, 43, 43);    // #2b2b2b
  --color-gray--darker:     rgb(32, 32, 32);    // #202020
  --color-black:            rgb(0, 0, 0);       // #000000


  /* Семантические цвета */
  --heading-color:          var(--color-gray--darker);
  --text-color:             var(--color-gray--darker);
  --text-color-muted:       var(--color-gray);

  --link-color:             var(--color-primary);
  --link-color--hover:      var(--color-primary--light);
  --link-color--active:     var(--color-primary--dark);
  --focus-color:            var(--color-blue--light);

  /* Базовая типографика */
  --font-family-primary:    'Ubuntu', sans-serif;

  --font-size-h1:           18px;
  --font-size-h2:           16px;
  --font-size-h3:           16px;

  --font-size--xs:          12px;
  --font-size--sm:          12px;
  --font-size:              12px;
  --font-size--md:          14px;
  --font-size--lg:          16px;

  --line-height:            1.5;
  --line-height--heading:   1.4;

  /* Сетка */
  --layout-gutter:          30px;
  --grid-gutter:            30px;

  /* Отступы */
  --offset--xxxs:           4px;
  --offset--xxs:            4px;
  --offset--xs:             4px;
  --offset--sm:             8px;
  --offset:                 12px;
  --offset--md:             16px;
  --offset--lg:             20px;
  --offset--xl:             24px;
  --offset--xxl:            30px;

  /* Разное */
  --transition-time:        .3s;
  --animate-duration:       var(--transition-time);
  --shadow:                 0 15px 15px rgba(14, 16, 20, .15);
  --shadow--lg:             0 15px 40px rgba(14, 16, 20, .15);

  --border-radius--sm:      4px;
  --border-radius--md:      8px;
  --border-radius:          12px;

  @media (min-width: $screen-md) {
    /* Базовая типографика */
    --font-size-h1:         24px;
    --font-size-h2:         18px;
    --font-size-h3:         18px;

    --font-size--xs:        10px;
    --font-size--sm:        12px;
    --font-size:            12px;
    --font-size--md:        14px;
    --font-size--lg:        16px;

    --offset--xxxs:         4px;
    --offset--xxs:          4px;
    --offset--xs:           8px;
    --offset--sm:           12px;
    --offset:               16px;
    --offset--md:           20px;
    --offset--lg:           24px;
    --offset--xl:           32px;
    --offset--xxl:          40px;
  }

  @media (min-width: $screen-lg) {
    /* Базовая типографика */
    --font-size-h1:         32px;
    --font-size-h2:         24px;
    --font-size-h3:         18px;

    --font-size--xs:        10px;
    --font-size--sm:        12px;
    --font-size:            14px;
    --font-size--md:        16px;
    --font-size--lg:        18px;

    --offset--xxxs:         4px;
    --offset--xxs:          8px;
    --offset--xs:           12px;
    --offset--sm:           16px;
    --offset:               20px;
    --offset--md:           24px;
    --offset--lg:           32px;
    --offset--xl:           40px;
    --offset--xxl:          60px;
  }
}
