@mixin grid-template-columns($count) {
  grid-template-columns: repeat($count, minmax(0, 1fr));
}

@mixin grid-column($count) {
  grid-column: auto / span $count;
}

@mixin order($number) {
  order: $number;
}

@mixin gap($type) {
  @if $type == 'n' {
    $type: --offset;
  } @else if $type == 'default' {
    $type: --grid-gutter;
  } @else {
    $type: --offset-- + $type;
  }
  gap: var($type);
}

.grid {
  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--grid-gutter);

  @include offset('lg');

  &--fit-content {
    width: fit-content;
  }

  &--align-center {
    align-items: center;
  }

  @each $type in ['default', 'xxxs', 'xxs', 'xs', 'sm', 'n', 'md', 'lg', 'xl', 'xxl'] {
    &--gap-#{$type} {
      @include gap($type)
    }
  }

  @each $screen-name, $screen in $screen-map {
    @each $type in ['default', 'xxxs', 'xxs', 'xs', 'sm', 'n', 'md', 'lg', 'xl', 'xxl'] {
      @if ($screen-name == 'xs') {
        @media (max-width: $screen) {
          &--#{$screen-name}-gap-#{$type} {
            @include gap($type)
          }
        }
      } @else {
        @media (min-width: $screen) {
          &--#{$screen-name}-gap-#{$type} {
            @include gap($type)
          }
        }
      }
    }

    @for $i from 1 through 12 {
      &--#{$screen-name}-#{$i} {
        @if ($screen-name == 'xs') {
          @media (max-width: $screen) {
            @include grid-template-columns(#{$i})
          }
        } @else {
          @media (min-width: $screen) {
            @include grid-template-columns(#{$i})
          }
        }
      }
    }

    &--#{$screen-name}-fit-content {
      @if ($screen-name == 'xs') {
        @media (max-width: $screen) {
          width: fit-content;
        }
      } @else {
        @media (min-width: $screen) {
          width: fit-content;
        }
      }
    }
  }

  &__item {
    @each $screen-name, $screen in $screen-map {
      @for $i from 1 through 12 {
        &--#{$screen-name}-#{$i} {
          @if ($screen-name == 'xs') {
            @media (max-width: $screen) {
              @include grid-column(#{$i})
            }
          } @else {
            @media (min-width: $screen) {
              @include grid-column(#{$i})
            }
          }
        }

        &--#{$screen-name}-start-column-#{$i} {
          @if ($screen-name == 'xs') {
            @media (max-width: $screen) {
              grid-column-start: #{$i};
            }
          } @else {
            @media (min-width: $screen) {
              grid-column-start: #{$i};
            }
          }
        }

        &--#{$screen-name}-order-#{$i} {
          @if ($screen-name == 'xs') {
            @media (max-width: $screen) {
              @include order(#{$i})
            }
          } @else {
            @media (min-width: $screen) {
              @include order(#{$i})
            }
          }
        }
      }

      &--#{$screen-name}-aself-center {
        @if ($screen-name == 'xs') {
          @media (max-width: $screen) {
            align-self: center;
          }
        } @else {
          @media (min-width: $screen) {
            align-self: center;
          }
        }
      }

      &--#{$screen-name}-jself-end {
        @if ($screen-name == 'xs') {
          @media (max-width: $screen) {
            justify-self: end;
          }
        } @else {
          @media (min-width: $screen) {
            justify-self: end;
          }
        }
      }
    }
  }
}
