.page-container {
  position: relative;

  width: 100%;
  max-width: $screen-xxl;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--layout-gutter);
  padding-left: var(--layout-gutter);
}
