extends /layout/layout

block meta
    title Главная
    meta(name='description', content='')

block content
    section.page-section.page-section--line
        .page-container
            | <svg class="icon"><use href="#play"></use></svg>

            h1 ТЕСТ