mixin page-header(props)

  //- Принимает:
  //-   props {
  //-     mods: ''          {array}  - модификаторы блока

  if typeof (props) === 'undefined'
    - props = {};

  - let allMods = '';
  if typeof (props.mods) !== 'undefined' && props.mods
    each mods, index in props.mods
      - allMods += index ? ' ': '';
      - allMods += 'page-header--' + mods;

  header.page-header(class = allMods)&attributes(attributes)
    .page-header__inner.page-container
      .page-header__logo
        +logo({ attrs: { src: '/assets/images/logo.svg' } })
      .page-header__menu
        +service-menu(serviceMenu)
      .page-header__menu
        button

