.page-footer {

  $block-name: &; // #{$block-name}__element

  --link-color: var(--color-white);
  --link-color--hover: var(--color-gray);
  --link-color--active: var(--color-gray);
  color: var(--color-white);

  background-color: var(--color-gray--darker);

  & a {
    color: var(--color-gray--dark);
    text-decoration: none;

    &:hover {
      color: var(--color-primary--light);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gutter);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__logo {

    & svg {
      display: block;

      fill: var(--color-white);
    }
  }

  &__copy-c {
    margin-top: var(--offset);

    text-transform: uppercase;
  }

  &__socials {
    margin-top: var(--offset--xl);
  }

  &__link {
    margin-top: var(--offset--xs);
  }

  & p {
    margin: 0;
  }


  @media (min-width: $screen-lg) {
    font-size: var(--font-size--md);

    &__inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: var(--layout-gutter);
      align-items: flex-start;
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &__info {
      grid-column: 1 / 4;
    }

    &__menu {
      grid-column: 4 / 13;
      order: 2;
    }
  }
}
