.block-incut {
  $block-name: &; // #{$block-name}__element
  margin: 0;

  padding: var(--offset--lg);

  border: 1px solid var(--color-pale-blue--light);
  border-radius: var(--border-radius--sm);

  @include offset();

  @at-root
  .grid__item > &:last-child:first-child {
    height: 100%;
  }

  &__inner-wide {
    margin: 0 calc(var(--offset--lg) * -1);
  }

  &--no-padding {
    padding: 0;
  }

  &--small-padding {
    padding: var(--offset--sm);
  }

  &--white-shadow {
    background: var(--color-white);
    border-color: transparent;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
  }
}
